{% extends 'app/index.html' %}


{% block indexli %}{% endblock indexli %}
{% block aboutli %}{% endblock aboutli %}
{% block coursesli %}{% endblock coursesli %}
{% block trainersli %}{% endblock trainersli %}
{% block eventsli %}class="active"{% endblock eventsli %}

{% block carouss %}
{% endblock carouss %}

{% block about %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Galerie</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->



    <!-- ======= Events Section ======= -->
    <!-- ======= Evenements ======= -->

    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <h5 class="card-title">Evènements</h5>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="../../static/app/images/merites/okpo.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Formation</h5>
                <p class="fst-italic text-center">Février 2021</p>
                <p class="card-text">Formation des filles boursières du CNIB par rapport à la télé réalité <strong> Dis-moi qui est la plus belle </strong> saison 4</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="../../static/app/images/gallerie/staff.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Partenariat</h5>
                <p class="fst-italic text-center">Mercredi 27 Octorbre 2021</p>
                <p class="card-text">Reception dans nos locaux d'une délégation du programme <strong>Fast Track Tech du ITC</strong> ( Nations Unies)</p>
              </div>
            </div>

          </div>
        </div>



    <!-- ======= cours et remise de diplomes ======= -->
    <h5 class="card-title">Cours et remise de diplômes</h5>

<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <a href="../../static/app/images/gallerie/staff.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/staff.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>

    <a href="../../static/app/images/gallerie/public5.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/public5.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="../../static/app/images/gallerie/public1.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/public1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>

    <a href="../../static/app/images/gallerie/public4.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/public4.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="../../static/app/images/gallerie/profs.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/profs.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>

    <a href="../../static/app/images/gallerie/go2.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/go2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="../../static/app/images/gallerie/duoboss1.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/duoboss1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>

    <a href="../../static/app/images/gallerie/go.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/go.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="../../static/app/images/gallerie/duoboss2.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/duoboss2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>

    <a href="../../static/app/images/gallerie/mec.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/mec.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="../../static/app/images/gallerie/duoboss3.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/duoboss3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>

    <a href="../../static/app/images/gallerie/blanche2.jpg" data-toggle="lightbox" >
      <img
      src="../../static/app/images/gallerie/blanche2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
      />
    </a>
  </div>



</div>
<!-- Gallery -->







<!-- ======================
      les mérites
      <a href="../../static/app/images/events-1.jpg" data-toggle="lightbox" >
      <a href="../../static/app/images/events-1.jpg" data-toggle="lightbox" class="col-lg-4 col-md-12 mb-4 mb-lg-0">

  ================= -->

  <h5 class="card-title mt-"><a href="">Gratifications et mérites</a></h5>
<!-- Carousel wrapper -->
<div
  id="carouselMultiItemExample"
  class="carousel slide carousel-dark text-center"
  data-mdb-ride="carousel"
>
  <!-- Controls -->
  <div class="d-flex justify-content-center mb-4">
    <button
      class="carousel-control-prev position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next position-relative"
      type="button"
      data-mdb-target="#carouselMultiItemExample"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="../../static/app/images/merites/min2.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">Bénin showbiz Awards 2019</h5>
                <p class="card-text">
                  Meilleure Innovation numérique de l'année
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../../static/app/images/merites/trophrou2.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Bénin showbiz Awards 2019</h5>
                <p class="card-text">
                  Trophée
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../../static/app/images/merites/blanc.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">Bénin showbiz Awards 2020</h5>
                <p class="card-text">
                  Meilleure plateforme de vente en ligne.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <img
                src="../../static/app/images/merites/trophjau.jpg"
                class="card-img-top"
                alt="Fissure in Sandstone"
              />
              <div class="card-body">
                <h5 class="card-title">Bénin showbiz Awards 2021</h5>
                <p class="card-text">
                  Meilleure jeune entrepreneur.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../../static/app/images/gallerie/apsonic.jpeg"
                class="card-img-top"
                alt="Storm Clouds"
              />
              <div class="card-body">
                <h5 class="card-title">Direction Générale</h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="../../static/app/images/gallerie/calavi.jpeg"
                class="card-img-top"
                alt="Hot Air Balloons"
              />
              <div class="card-body">
                <h5 class="card-title">Annexe Calavi</h5>
                <p class="card-text">

                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <!--<div class="carousel-item">-->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">-->
    <!--        <div class="card">-->
    <!--          <img-->
    <!--            src="../../static/app/images/events-1.jpg"-->
    <!--            class="card-img-top"-->
    <!--            alt="Peaks Against the Starry Sky"-->
    <!--          />-->
    <!--          <div class="card-body">-->
    <!--            <h5 class="card-title">Card title</h5>-->
    <!--            <p class="card-text">-->
    <!--              Some quick example text to build on the card title and make up the bulk-->
    <!--              of the card's content.-->
    <!--            </p>-->
    <!--            <a href="#!" class="btn btn-primary">Button</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->

    <!--      <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">-->
    <!--        <div class="card">-->
    <!--          <img-->
    <!--            src="../../static/app/images/events-1.jpg"-->
    <!--            class="card-img-top"-->
    <!--            alt="Bridge Over Water"-->
    <!--          />-->
    <!--          <div class="card-body">-->
    <!--            <h5 class="card-title">Card title</h5>-->
    <!--            <p class="card-text">-->
    <!--              Some quick example text to build on the card title and make up the bulk-->
    <!--              of the card's content.-->
    <!--            </p>-->
    <!--            <a href="#!" class="btn btn-primary">Button</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->

    <!--      <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">-->
    <!--        <div class="card">-->
    <!--          <img-->
    <!--            src="../../static/app/images/events-1.jpg"-->
    <!--            class="card-img-top"-->
    <!--            alt="Purbeck Heritage Coast"-->
    <!--          />-->
    <!--          <div class="card-body">-->
    <!--            <h5 class="card-title">Card title</h5>-->
    <!--            <p class="card-text">-->
    <!--              Some quick example text to build on the card title and make up the bulk-->
    <!--              of the card's content.-->
    <!--            </p>-->
    <!--            <a href="#!" class="btn btn-primary">Button</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->

































      <!--  -->


      </div>
    </section><!-- End Events Section -->



<!-- ======================================
          mdbootstrap
========================================== -->























  </main><!-- End #main -->

  {% endblock about %}
