{% extends 'app/index.html' %}

{% block indexli %}{% endblock indexli %}
{% block aboutli %}{% endblock aboutli %}
{% block coursesli %}{% endblock coursesli %}
{% block trainersli %}{% endblock trainersli %}
{% block eventsli %}{% endblock eventsli %}
{% block pricingli %}class="active"{% endblock pricingli %}


{% block carouss %}
{% endblock carouss %}

{% block about %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Nos offres</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>Full option</h3>
              <h4><sup>CFA</sup>350.000<span> / month</span></h4>
              <ul>
                <li></li>
                <li>Bases du numérique</li>
                <li>Gestion commerciale</li>
                <li>Comptabilité</li>
                <li>Marketing</li>
                <li>Developpement web</li>
                <li>Un ordinateur offert</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'inscrire</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box">
              <!-- <div class="box featured"> -->
              <h3>Pack Access</h3>
              <h4><sup>CFA</sup>200.000<span> / month</span></h4>
              <ul>
                <li></li>
                <li>Bases du numérique</li>
                <li>Gestion commerciale</li>
                <li>Comptabilité</li>
                <li>Marketing</li>
                <li>Developpement web</li>
                <li class="na">Un ordinateur offert</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'incrire</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box featured">
              <span class="advanced" style="color: #0095d4; background-color: white;"><strong>Promo</strong></span>
              <h3>Promo access+</h3>
              <h4><sup>CFA</sup>125.000<span> / month</span></h4>
              <ul>
                <li></li>
                <li>Bases du numérique</li>
                <li>Gestion commerciale</li>
                <li>Comptabilité</li>
                <li>Marketing</li>
                <li>Developpement web</li>
                <li class="na">Un ordinateur offert</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'incrire</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box featured">
              <span class="advanced" style="color: #0095d4; background-color: white;"><strong>Promo</strong></span>
              <h3>Happy new year</h3>
              <h4><sup>CFA</sup>225.000<span> / month</span></h4> 
              <ul>
                <li></li>
                <li>Bases du numérique</li>
                <li>Gestion commerciale</li>
                <li>Comptabilité</li>
                <li>Marketing</li>
                <li>Developpement web</li>
                <li>Un ordinateur offert</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">S'incrire</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

  

{% endblock about %}